body{
   
  padding: 25px;
  background-image:url(https://cpailan.github.io/Pailan_Midterm_Webdev/calendar.jpg);
  background-repeat: no-repeat;
 background-size: 100% 100%;
}


h1 {
  font-size: 50px;
  font-family: comic sans ms;
  color: white;
}


table, td{
    border: 1px ;
    border-spacing: 7px;
    padding: 10px;
    border-collapse: separate;
    text-align: center;
    height: 100%;
    font-family: comic sans ms;
    font-size: 30px;
  font-weight: bold;
    color:teal;
}

td:hover {
  background-color:aqua;
   transition: transform .2s; 
  margin: 0 auto;
  transform: scale(1.1);
}

